#txtRandomNumInGroup{
	width:80px;
	background-color: #8EB4E3;
	height:30px;
	margin-top:10px;
}

.hide-button {
    float: right;
    margin-top: -33px;
    font-size: 11px;
    font-family: helvetica;
    color: gray;
    display: none;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

/**********************
 * TOP BAR
 *********************/
.top-bar-controls {
	margin-bottom: 1.6em;
	width:auto;
}

.top-bar-title {
	color:white;
	text-align: center;
}
